################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Apimarket/FileContentIndex
/.vs/Apimarket/v17
/.vs
